//animation des bouttons cta

$shake-intensity:7%;

 @keyframes button-headshake {
    25% {
        // entièrement en bas
        transform: translateY($shake-intensity);
    }
    75% {
         // entièrement en bas
         transform: translateY($shake-intensity * -1);
    }
}

//animation de l'apparition des articles du menu
@keyframes menu-item {
    0%{
        transform: scaleX(0);
    }

    100%{
        transform: scaleX(1);
    }
}
