//animation des bouttons cta

$shake-intensity:7%;

 @keyframes button-headshake {
    25% {
        // entièrement en bas
        transform: translateY($shake-intensity);
    }
    75% {
         // entièrement en bas
         transform: translateY($shake-intensity * -1);
    }
}

//animation de l'apparition des articles du menu
@keyframes menu-item {
    0%{
        transform: scaleX(0);
    }

    100%{
        transform: scaleX(1);
    }
}


////////////////////
//loader///

//glass 1
@keyframes glass-1 {
    0%{transform: translateY(0) rotate(0);
        
    }

    100%{
        transform: translateY(-3.5rem) rotate(30deg);
    }
}

//glass 2
@keyframes glass-2 {
    0%{
        transform: translateY(0) rotate(0);
    }

    100%{
        transform: translateY(-5rem) rotate(-30deg);
    }
}
//bulle
@keyframes bulle {
    0%{
        transform: translateY(10);
        opacity: 1;
    }
    100%{
        transform: translateY(5rem) scale(2.5) ;
        opacity: 1;
    }
}

//letters

@keyframes letter {
    0%{
        opacity: 0;
    }
    25%{
       // transform: translateY(-5rem);
    }
    50%{
       opacity: 0.5;
    }
    75%{
        //transform: translateY(-10rem);
    }
    100%{
        opacity: 1;
    }
}


/* pour faire disparaitre le loader*/
@keyframes loader{
    0%{
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -10;
    }
}


//cercle
@keyframes cercle {
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(-360deg);
    }
}