//shadow
@mixin main-shadow ($color: $color-shadow, $size: $size-shadow) {
    box-shadow: 0px 4px $size 0px $color;
};

//btn background
@mixin bg-gradient ($color1, $color2) {
    background-image: linear-gradient(to bottom, $color1, $color2);
}

////////////////////////
   //media queries//
///////////////////////
$breakpoints: (
    small: 48rem, //768px
    medium: 64rem, //1024px
);

//large screen
@mixin large-screen {
    @media screen and (min-width: map-get($breakpoints, medium)){
        @content;
    }
};

 //medium screen
@mixin medium-screen {
    @media screen and (min-width: map-get($breakpoints, small)) and (max-width: map-get($breakpoints, medium)){
        @content;
    }
};


//pseudo-element
@mixin pseudo-element {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}