//shadow
@mixin main-shadow ($color: $color-shadow, $size: $size-shadow) {
    box-shadow: 0px 4px $size 0px $color;
};

//btn background
@mixin bg-gradient ($color1, $color2) {
    background-image: linear-gradient(to bottom, $color1, $color2);
}

//media queries
@mixin breakpoint($point) {
   @media screen and (min-width: $point ){
        @content
   };
}

//pseudo-element
@mixin pseudo-element {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}