//font
$title-font-familly: "Shrikhand", sans-serif;
$body-font-familly: "Roboto", sans-serif;
$title-highlight-font-size: 1.75rem;
$title-font-size: 1.5rem;
$title-font-weight: 700;
$bdoy-font-size: 1rem;
$body-heighlight-font-size: 1.125rem;
$body-heighlight-font-weight: 500;
$body-font-weight: 300;


//colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-tertiary-variant:#008766;
$bg-main-color: #F6F6F6;
$bg-main-color-variant:#EAEAEA;
$bg-footer-color:#353535;
$txt-color-primary: #000;
$txt-color-secondary: #fff;
