// style of the CTA buttons

.cta {
    border-radius: $btn-border-radius;
    color: $txt-color-secondary;
    @include bg-gradient($color-secondary, $color-primary);
    @include main-shadow(lighten($txt-color-primary, 75%), 0.625rem); 
    height: 3.13rem;
    border: none;
    padding:  0 1rem;
    text-align: center;
    flex-shrink: 0;
    position: relative;

    //on crée un pseudo-element qui va servir 
    // comme un fond de couleur
    &::after {
        @include pseudo-element;
        //background plus éclaircit
        @include bg-gradient(lighten($color-secondary, 5), lighten($color-primary, 5));
        //pour ne pas cahcer le texte quand l'opacity sera de 1
        mix-blend-mode: lighten;
        border-radius: $btn-border-radius;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
    }

    //style et animation du texte dans les boutons
    &__txt {
        font-family: $body-font-familly;
        font-size: $bdoy-font-size;
        font-weight: $body-heighlight-font-weight;
        display: flex;
        transition: transform 300ms cubic-bezier(.4,.1,.6,.9);
        transition-delay: 100ms;
    }

    &:hover {
        //on élargis le shadow
        @include main-shadow(lighten($color-primary, 5), 1.5rem);
        &::after {
            opacity: 1;
        }
        .cta__txt{
            //on fait bouger le texte des boutons
            transform: translateY($shake-intensity  * -1);
        }
        
    }
}

// spécifique au boutton "commander"
.restaurant__order {
    display: flex;
    align-self: center;
    padding: 1rem 3rem 0.94rem 3.06rem;
    margin-bottom: 2.5rem;
}

///////////////////////////////
//style of the Like buttons///
/////////////////////////////
.like {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

    &__btn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.75rem;
        background-color: #fff;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    &__btn-full{
        //pur avoir la couleur du coeur en dégradé
        background: -webkit-linear-gradient($color-primary, $color-secondary);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        transition: opacity $anim-dur ease-in-out;
    }

    &:hover:hover {
        .like__btn-full {
            opacity: 1;
        }
    }
}
