// dans ce fichier on a le style complet du loader


//style et durée globale du loader
.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: $bg-main-color;
    z-index: 100;
    opacity: 1;
    animation-name: loader;
    animation-delay: 3.5s;
    animation-fill-mode: both;
    
    //animation du loader 
    .load {
        width: 20rem;
        height: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        padding-left: 3rem;

        @include large-screen {
            width: 40rem;
            height: 40rem;
            padding-left: 7rem;
        }

        &::after {
            @include pseudo-element;
            border-radius: 50%;
            border: 0.5rem dotted $color-tertiary-variant;
            animation: cercle 60s linear;

        }
    }
}

//style et animation de la bulle
.bubble {
    width: 2rem;
    height: 2rem;
    background: radial-gradient(circle, lighten($color-secondary, 5), lighten($color-primary, 5)); 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 9rem;
    top: -1rem;
    transform-origin: bottom;
    opacity: 0;
    animation: bubble 1000ms linear 1000ms forwards;
    @include large-screen {
        width: 5rem;
        height: 5rem;
        left: 18rem;
        top: 10rem;
    }

    //animation des lettres
    &__item {
        font-size: 0.3rem;
        color: #fff;
        font-family: $title-font-familly;
        opacity: 0;
        animation: letter 1000ms linear forwards;
        //créer un délai décalé
        @for $i from 1 through 9 {
            &--#{$i} {
                animation-delay: 2000ms + 100ms * $i;
            }
        }

        @include large-screen {
            font-size: 0.8rem;
        }
    }
}

//style et animation des deux icones verre
.glass {
    display: flex;
    &__item{
        font-size: 4rem;
        background: -webkit-linear-gradient($color-primary, $color-secondary);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        
        &--1{
            margin-right: 0.5rem;
            transform-origin: top center;
            animation: glass-1-mobile 900ms alternate 100ms forwards;

            @include large-screen {
                margin-right: 2rem;
                animation: glass-1 900ms alternate 100ms forwards;
            }
        }

        &--2{
            transform-origin: bottom center;
            animation: glass-2 900ms alternate 100ms forwards;
        }
        @include large-screen {
            font-size: 10rem;
        }
    }

    
}
  
