//style pour les pages restaurants

//la photo sous le header
.resto-hero-header {
    display: flex;
    align-self: stretch;
    height: 17.88rem;
    img{
        width: 100%;
    }
}

//le style général de la section restaurant
.restaurant {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 2.5rem;
    margin-top: -3rem;//pour faire monter 
    position: relative;//la card en haut et 
    z-index: 1000;// se sperposer sur la photo
    border-radius: 2.5rem 2.5rem 0 0;
    background-color: $bg-main-color;
    padding: 2rem 0.81rem 0 0.81rem;
//le nom  du restaurant
    &__heading{
        display: flex;
        flex-flow: row nowrap;
        text-align: start;
        justify-content: space-between;
        &--like{
            margin: 0 1.5rem;
            .like__btn{
                background-color: $bg-main-color;
            }
        }
        
        @include breakpoint($medium-screen){
            justify-content: center;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        @include breakpoint($medium-screen){
            padding: 0 11.5rem;
        }
    }
}


//style globla des cards (entrées, plats, desserts)
.menu-cards {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    &__title {
        font-size: $bdoy-font-size;
        font-weight: $body-font-weight;
        text-transform: uppercase;
        
        //la ligne verte sous les titres 
        &::after{
            content: '';
            display: block;
            width: 2.5rem;
            height: 0.1875rem;
            background: $color-tertiary;
        }
    }
}

//style de chaque article en particulier
.article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: $main-border-radius;
    height: 4.5rem;
    background-color: #fff;
    @include main-shadow(lighten($txt-color-primary, 85%), 15px);  
}

//style de la description des plats
.article__content {
    flex-grow: 2;
    display: flex;
    flex-flow: column nowrap;
    width: 60%;
    padding: 0.94rem;

    &--title{
        font-size: $body-heighlight-font-size;
        font-weight: $title-font-weight;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &--description{ 
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

///////////////////////////////
//style et animation du slide//
///////////////////////////////

//Explication de l'animation:
//d'abord on l'élement "price" et l'élement "slide"
//occupe exactement la même surface, gràace à position: absolute.
//on fait disparaitre "slide" avec scaleX(0).
//à l'état :hover, on fait décaler " price" a gauche avec 
//translateX(-3.6875rem) et on fait appraitre "slide" avec
//scaleX(1), ce qui nous donne l'impression qu'à l'apparition
//de "slide" il pousse l'élement "price" vers la gauche pour 
//prendre sa place.

.article__check {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 3.6875rem;

    &--price{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        width: 100%;
        height: 100%;
        color: $bg-footer-color;
        font-weight: $title-font-weight;
        padding: 0.94rem;
        transform: translateX(0);
        transition: transform 300ms linear 50ms;
    }

    &--slide{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $color-tertiary;
        border-radius: 0 $main-border-radius $main-border-radius 0;
        transform-origin: right;
        transform : scaleX(0);
        transition: transform 350ms linear;
    
        .fa-circle-check{
            color: #fff;
        }
    }
}


// toutes les animations à l'état :hover
.article:hover {
    .article__content{
       //pour permettre à l'élement "content" de se rétricir
        flex-grow: 0;
        flex-shrink: 1;
    }

    .article__content--title, .article__content--description{
        flex-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .article__check--price{
        transform: translateX(-3.6875rem);
    }
    
    .article__check--slide{
        transform :scaleX(1);
    } 
}

